<cruisecontrol>
	<!-- This is your CruiseControl.NET Server Configuration file. Add your projects below! -->
		<project name="myproject">
			<sourcecontrol type="bzr">
			    <branchUrl>http://build/repo/myproject/trunk</branchUrl>
			    <workingDirectory>/tmp</workingDirectory>
			    <executable>bzr</executable>
			</sourcecontrol>
		</project>
</cruisecontrol>
